@import "@styles/common";

.container {
  display: grid;

  h1 {
    font-size: 32px;
    margin-bottom: 0;
  }

  h2 {
    text-decoration: underline;
  }

  h3 {
    font-size: 16px;
  }

  @include lg {
    margin-top: calc((100vh - 96px) / 2 - 124px);
    h1 {
      font-size: 40px;
    }
    .title {
      top: 48%;
      position: fixed;
    }
    grid-template-columns: 2fr 5fr;
  }
  @include xlg {
    h1 {
      font-size: 64px;
      margin-bottom: 0;
    }
    grid-template-columns: 3fr 5.6fr;
  }
}
