@import "@styles/common";

.container {
  // for desktop only
  .desktopOff {
    display: block;
  }
  .desktopOn {
    margin-top: 2em;
    display: none;
  }
  @include xlg {
    margin-bottom: 40px;
    .desktopOn {
      display: block;
    }

    .desktopOff {
      display: none;
    }
  }
}
