@import "@styles/common";

.container {
  h1 {
    margin-bottom: 0.64em;
  }
  .title {
    margin-bottom: 2em;
  }

  // for desktop only
  .desktop {
    display: none;
  }
  @include xlg {
    margin-bottom: 40px;
    .desktop {
      display: block;
    }
  }
}
