@import "@styles/common";

.container {
  // for desktop only
  .desktop {
    margin-top: 2em;
    display: none;
  }
  @include xlg {
    margin-bottom: 40px;
    .desktop {
      display: block;
    }
  }
}
