.container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto 96px;

  .text {
    margin-top: 1em;
    h3 {
      font-size: 16px;
      margin-top: 3px;
      margin-bottom: 10px;
    }
    p {
      font-size: 0.8em;
    }
  }
}
