@import "@styles/common";

.container {
  .title {
    display: flex;
    column-gap: 24px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0em;
  }

  img {
    width: 24px;
    height: 24px;
  }
}
