@import "@styles/common";

.container {
  span {
    display: block;
    color: $secondary-sub2-color;
    font-size: 14px;
    padding-bottom: 8px;
    // text-align: right;
  }

  h2 {
    margin-bottom: 0;
  }
  p {
    margin-top: 1em;
  }

  .title {
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
  }

  img {
    width: 32px;
    height: 32px;
    @include md {
      width: 24px;
      height: 24px;
    }
  }
}
