@import "@styles/common";

.container {
  @include large-mobile {
    // only direct and first div.
    > h3:first-of-type {
      position: fixed;
      top: 48%;
    }
  }

  // main title is right side
  display: grid;
  @include large-mobile {
    grid-template-columns: 2fr 5fr 1fr;
  }
  @include laptop {
    grid-template-columns: 2.4fr 5.6fr 2fr;
  }

  .content {
    overflow: auto;
    @include large-mobile {
      grid-column-start: 2;
    }
  }

  .title {
    h2 {
      margin-top: 1em;
    }
    border-bottom: 2px solid rgba(0, 0, 0, 0.858);
    padding-bottom: 1.6em;
    margin-bottom: 2.4em;
  }
}
