@import "@styles/common";

.container {
  .network {
    @include lg {
      margin-top: 2em;
    }

    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @include md {
      grid-template-columns: repeat(2, auto);
    }

    @include xlg {
      gap: 40px 80px;
    }
  }
}
