@import "@styles/common";

.container {
  margin-top: 2em;
  .network {
    display: grid;
    grid-template-columns: 1fr;
    @include large-mobile {
      grid-template-columns: repeat(2, auto);
    }
    gap: 40px;
    @include laptop {
      gap: 40px 80px;
    }

    @include tablet {
      margin-top: 2em;
    }
  }
}
