@import "@styles/common";

.container {
  // whole layout
  display: grid;

  @include large-mobile {
    grid-template-columns: 1fr;
  }
  @include tablet {
    grid-template-columns: 3fr 5fr 1fr;
  }
  @include laptop {
    grid-template-columns: 3.2fr 5.6fr 1.6fr;
  }

  .title {
    h1 {
      font-size: 32px;
    }
    @include tablet {
      h1 {
        font-size: 40px;
      }
    }
    @include laptop {
      h1 {
        font-size: 64px;
      }
    }

    h3 {
      font-size: 16px;
      margin-top: 0.08em;
    }
  }
  @include tablet {
    .title {
      top: 48%;
      position: fixed;
    }
  }

  .content {
    margin-top: 1.6em;
  }
  @include tablet {
    .content {
      grid-column-start: 2;
    }
  }
}
