@import "@styles/common";

// common style
.container {
  // Each article
  .post {
    // change all children at the same time
    // &:hover {
    //   text-decoration: none;
    //   -webkit-box-shadow: 0px 1px 0px 0px $neutrals-text; 
    //   box-shadow: 0px 1px 0px 0px $neutrals-text; 
    // }

    margin-top: 48px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    column-gap: 16px;
    // align-items: center; // let's see for a while

    img {
      max-width: none;
      width: 160px;
      height: 160px;
      @include large-mobile {
        width: 160px;
        height: 160px;
      }
      @include laptop {
        width: 200px;
        height: 200px;
      }
    }
    em {
      font-size: 15px;
    }

    h3 {
      margin-top: 0.24em;
      @include number-of-lines(2);
    }
    p {
      @include number-of-lines(3);
      @include large-mobile {
        @include number-of-lines(3);
      }
    }
  }
  .post:first-of-type {
    margin-top: 0;
  }
}
