@import "@styles/common";

// common style
.container {
  // Each article
  .post {
    margin-top: 24px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
    }
    em {
      font-size: 15px;
    }

    h3 {
      margin-top: 0.24em;
      @include number-of-lines(2);
    }
    p {
      @include number-of-lines(3);
    }
  }
  .post:first-of-type {
    margin-top: 0;
  }
}
