@import "@styles/common";

.mobile {
  @include md {
    display: none;
  }
  margin-bottom: 40px;
}

.desktop {
  display: none;
  .title {
    margin-bottom: 2em;
  }
  @include md {
    display: block;
    margin-bottom: 80px;
  }
}
