@import "@styles/common";

.top {
  z-index: 777;
  position: fixed;
  max-width: $max-width;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;

  // padding settings
  top: 0;
  left: 32px;
  right: 32px;
  padding-top: 32px;
  padding-bottom: 16px;

  @include large-mobile {
    left: 48px;
    right: 48px;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  @include tablet {
    left: 64px;
    right: 64px;
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .logo {
    a {
      display: flex;
      align-items: flex-end;
      column-gap: 16px;
      font-weight: 900;
      font-size: 24px;
    }
    img {
      object-fit: contain;
    }
  }

  .menu {
    display: none;
    @include large-mobile {
      display: grid;
      justify-content: end;
      grid-template-columns: repeat(4, 1fr);
      width: 60%;
    }

    // If desk top menu. display menus, and 2nd element is fake space.
    @include laptop {
      width: calc(#{$right-content-width}/ 5 * 8);
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
      :nth-child(3),
      :nth-child(4) {
        text-align: left;
      }
      :nth-child(4) {
        padding-left: 24px;
      }
    }
  }

  // Fake space to make a gap between "about" and "works", when desktop size
  .space {
    display: none;
    @include laptop {
      display: block;
    }
  }

  a {
    align-self: end; // + grid -> bottom align
    font-size: 16px;
    font-weight: 800;
    text-align: right;
  }

  //border
  border-bottom: 4px $secondary-color solid;
  box-shadow: -12px 0px 0px 0px $main-color;
}

.bottom {
  z-index: 777;
  position: fixed;
  bottom: 0;
  // These are needed to realize fixed + display flex (stretching width)
  left: 32px;
  right: 32px;

  display: flex;
  justify-content: space-between;

  // top border
  background-color: $main-color;
  border-top: 4px solid $secondary-color;
  padding-top: 16px;
  padding-bottom: 8px;
  div {
    text-align: center;
    p {
      margin-top: 8px;
    }
  }

  @include large-mobile {
    display: none;
  }
}
