@import "@styles/common";

.top {
  z-index: 777;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  @include max-width;
  background-color: $neutrals-background;
  display: flex;
  justify-content: space-between;
  
  padding-top: 32px;
  padding-bottom: 16px;

  @include large-mobile {
    padding-bottom: 24px;
  }

  @include tablet {
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .logo {
    a {
      display: flex;
      align-items: flex-end;
      column-gap: 16px;
      font-weight: 900;
      font-size: 24px;
    }
    img {
      object-fit: contain;
    }
  }

  .menu {
    display: none;
    @include large-mobile {
      display: grid;
      justify-content: end;
      grid-template-columns: repeat(4, 1fr);
      width: 60%;
    }
    @include laptop {
      width: 40%;
    }
  }


  a {
    align-self: end; // + grid -> bottom align
    font-size: 16px;
    font-weight: 800;
    text-align: right;
  }

  //border
  border-bottom: 4px $neutrals-text solid;
  box-shadow: -12px 0px 0px 0px $neutrals-background;
}

.bottom {
  z-index: 777;
  position: fixed;
  @include max-width;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;

  // top border
  background-color: $neutrals-background;
  border-top: 4px solid $neutrals-text;
  padding-top: 16px;
  padding-bottom: 8px;
  div {
    text-align: center;
    p {
      margin-top: 8px;
    }
  }

  @include large-mobile {
    display: none;
  }
}
