// when you write responsive, it must be smaller to larger
@mixin large-mobile($min: $breakpoint-large-mobile) {
  @media (min-width: #{$min}) {
    @content;
  }
}
@mixin tablet($min: $breakpoint-tablet) {
  @media (min-width: #{$min}) {
    @content;
  }
}

@mixin laptop($min: $breakpoint-laptop) {
  @media (min-width: #{$min}) {
    @content;
  }
}

@mixin large-monitor($min: $breakpoint-large-monitor) {
  @media (min-width: #{$min}) {
    @content;
  }
}

@mixin max-width {
  max-width: 88vw;
  @include large-mobile {
    max-width: min(72vw, 1520px);
  }
}

@mixin number-of-lines($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
