$main-color: #ffffff;
$secondary-color: #000000;
$text-p-color: #2b2d30;
$secondary-sub1-color: #717676;
$secondary-sub2-color: #abacac;

$breakpoint-large-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-laptop: 1200px;

$font-family: Raleway, sans-serif;
$max-width: 1920px;
$min-width: 240px;

$right-content-width: 440px; // width of "work    blogs   contact"
