$neutrals-background: #ffffff;
$neutrals-text: #000000;
$neutrals-text-400: #2b2d30;
$neutrals-text-300: #767171;
// $secondary-sub2-color: #acabab;

$breakpoint-large-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-laptop: 1200px;
$breakpoint-large-monitor: 1900px;

$font-family: Raleway, sans-serif;
$min-width: 240px;

$right-content-width: 440px; // width of "work    blogs   contact"
