$main-color: #ffffff;
$secondary-color: #383c3f;
$secondary-sub1-color: #717676;
$secondary-sub2-color: #abacac;

$breakpoint-medium: 600px;
$breakpoint-large: 900px;
$breakpoint-xlarge: 1200px;

$font-family: Raleway, sans-serif;
$max-width: 1920px;
$min-width: 240px;

$right-content-width: 440px; // width of "work    blogs   contact"
