@import "common";
@import "reset";
// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&display=swap");
@import "prism-okaidia";

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: $font-family;
  // max-width: 1312px;
  margin: 0 32px;
  min-width: 350px;
  padding-top: calc(76px + 64px); // space for nav bar

  @include lg {
    margin: 0 64px;
  }
}

// Reset `a` tag
a {
  text-decoration: none;
  &:link {
    color: $secondary-color;
  }
  &:visited {
    color: $secondary-color;
  }
  &:hover {
    // color: $accent-color;
  }
}

img {
  max-width: 100%;
}

// basic font setting
h1 {
  font-weight: 900;
  font-size: 24px;
  @include lg {
    font-size: 32px;
  }
}

h2 {
  font-weight: 800;
  font-size: 18px;
  @include lg {
    font-size: 24px;
  }
}

h3 {
  font-weight: 800;
  font-size: 16px;
  @include lg {
    font-size: 18px;
  }
}

p {
  font-weight: 400;
  font-size: 13px;
  @include lg {
    font-size: 16px;
  }
  // line-height: 184%;
  letter-spacing: 1.24px;
}
