@import "common";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  @include xlg {
    grid-template-columns: auto $right-content-width;
    column-gap: calc(#{$right-content-width}/ 5 * 2);
  }
}

// grid-template-columns: 1fr;
