@import "@styles/common";

.container {
  margin: 64px 0 0 auto;
  width: 64px;

  img {
    display: block;
    margin: 0 auto;
    width: 24px;
    @include md {
      width: 32px;
    }
  }
  img + p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 0;
  }
}
